@import "../../assets/css/styles-variables.less";

.section {
  padding-top: 50px;
}
.section .jumbotron {
  margin-bottom: 0px;
  background-color: #ffffff;
}
.section:last-child {
  margin-bottom: 50px;
}
.jumbotron h2 {
  color: @sub-color;
  margin-top: 0;
}

.about-user-img {
  padding: 0px 0px 0px 0px;
}
.about-detail-info{
  font-weight: bold;
  line-height: 25px;
}
.about-detail-info .glyphicon{
  padding-right: 10px;
}

hr.star-primary:after {
    background-color: #eeeeee;
    color: @sub-color;
}
hr.star-primary {
    border-color: @sub-color;
}

