<!-- Side navigation with scroll spy -->
<div class="app-scroll-spy hidden-xs hidden-sm">
  <ul class="nav btn-group-vertical no-list">
    <!-- <li class="page-scroll"><a class="btn btn-danger btn-block" [href]="'#page-top'" scrollTo href="">TOP</a></li> -->
    <li *ngFor="let item of AboutMenuItems; let i = index;" class="page-scroll" [ngClass]="{'active': i == 0}">
      <a class="btn btn-arrow-left btn-block" [href]="'#'+item.fragment" scrollTo href="">{{item.caption}}</a>
    </li>
  </ul>
</div>

<!-- About section -->
<div id="about" class="section about">
  <div class="row">
    <div class="col-md-12">
      <div class="jumbotron">
        <div class="row">
          <!-- <div class="col-md-3">
            <img class="img-responsive about-user-img" src="assets/images/user.png">
          </div> -->
          <div class="col-md-12 text-center">
            <img class="about-user-img" src="assets/images/user.png">
            <!--<h1 class="text-capitalize">Payal Sureja</h1>-->
            <h4>Full Stack Web Developer</h4>
            <div class="about-detail-info">
              <br/>
              <!--<div><i class="glyphicon glyphicon-home"></i>168 Laurel Way Apt# 3A, Herndon VA 20170</div>-->
              <div><a title="Email" href="mailto:payalcsureja@gmail.com"><i class="glyphicon glyphicon-envelope"></i>payalcsureja@gmail.com</a></div>
              <div><a title ="Call me" href="tel:+1678-848-4344"><i class="glyphicon glyphicon-earphone"></i>+1 678-848-4344</a></div>
              <div><a target="_blank" title="LinkedIn" href="http://www.linkedin.com/in/payal-sureja"><i class="glyphicon glyphicon-search"></i>www.linkedin.com/in/payalsureja</a></div>
              <div><a target="_blank" title="GitHub" href="http://www.github.com/payalcsureja"><i class="glyphicon fa fa-github"></i>www.github.com/payalcsureja</a></div>
              <div><a target="_blank" title="Stack overflow" href="http://www.stackoverflow.com/cv/payalcsureja"><i class="glyphicon fa fa-stack-overflow"></i>www.stackoverflow.com/cv/payalcsureja</a></div>
              <div><a target="_blank" title="Download my resume" href="assets/miscellaneous/PayalSurejaFullStackWebDeveloperResume.pdf?7739487293424645"><i class="glyphicon fa fa-cloud-download"></i>Download my resume</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Summary section -->
<div id="summary" class="section">
  <div class="row">
    <div class="col-md-12">
      <div class="jumbotron">

        <div class="row">
          <div class="col-lg-12 text-center">
            <h2>Summary</h2>
            <p class="star-primary"></p>
          </div>
        </div>

        <div>Over 10 Years of experience as a Full Stack Web Developer in all phases of Software Development Life Cycle using LAMP, Javascript, AngularJs, Bootstrap, jQuery, LESS, REST, AJAX, NPM, Grunt, Git, SVN, Ionic, Solr, Drupal, Joomla.</div>
        <ul>
          <li>Proficient in LAMP (Linux, Apache, MySQL, PHP) stack, also worked with WAMP stack.</li>
          <li>3+ Years of Experience on modern front-end frameworks like AngularJS with Bootstrap, jQuery, UnderscoreJS, Lodash, Moment, UI Bootstrap etc to develop Single-Page Applications (SPAs).</li>
          <li>Extensively used npm (nodeJs package manager) and bower as package manager along with Grunt and Gulp JavaScript Task Runner. Experience of Yeoman as standard scaffolding toolkit.</li>
          <li>Excellent skills in Objected-Oriented PHP web development with MySQL along with web 2.0 technologies.</li>
          <li>Good knowledge and working experience of Internet technologies in Web/UI development including JavaScript, Ajax, JSON, jQuery, HTML5/XHTML, DHTML, CSS3, XML, Twitter Bootstrap.</li>
          <li>Good knowledge of Content Management System (CMS) - Joomla, Drupal, WordPress driven web applications.</li>
          <li>Worked on Apache Solr – NoSQL search platform integration to improve user search experience.</li>
          <li>Experience in relational database design, SQL queries and Stored Procedures.</li>
          <li>Expertise in using various SDLC models like Waterfall, Agile Scrum process with Sprint planning.</li>
          <li>Excellent skills in building professional E-commerce, Community, Biz Directory, Real Estate, Mobile websites.</li>
          <li>Extensively worked on cross-browser and cross-platform compatible solutions with responsive web design.</li>
          <li>Experience with deploying and configuring web based application to Apache Web Server.</li>
          <li>Proficient with Tortoise SVN and GIT as version management tool.</li>
          <li>Developed hybrid mobile (Android/iOS) application with Ionic open source mobile SDK and AngularJS.</li>
          <li>Self-starter and Highly motivated. Desire to learn latest web technologies.</li>
        </ul>

      </div>
    </div>
  </div>
</div>

<!-- Experience section -->
<div id="experience" class="section">
  <div class="row">
    <div class="col-md-12">
      <div class="jumbotron">

        <div class="row">
          <div class="col-lg-12 text-center">
            <h2>Experience</h2>
            <p class="star-primary"></p>
          </div>
        </div>

        <div>
          <div class="font-weight-bold">
            <div>Software Engineer</div>
            <div>XPAND Corporation</div>
            <div>Mar 2013 – Present</div>
            <div>Herndon, VA</div>
          </div>

          <div>Senior developer on DIRECT SOURCE (www.jobcentraldirect.com)</div>
          <ul>
            <li> In agile/scrum environment, designed and developed portal for career centers to explore jobs to help veteran job seekers find jobs and send referrals to employers.</li>
            <li> Used AngularJS with powerful Angular UI modules including UI Bootstrap, UI Router, UI Grid.</li>
            <li> Developed server side REST web services with PHP Slim framework with MySql .</li>
            <li> Integrated Apache Solr search for faster user search for jobs with large amount of data.</li>
            <li> Used LESS CSS to generate dynamic and more flexible CSS with Twitter bootstrap.</li>
            <li> Integrated Auth0 API for SSO (Single sign-on) to login via Facebook, Google, LinkedIn or Twitter accounts.</li>
            <li> Used toastr.js library for user friendly web notifications, moment.js for date formatting, lodash.js as utility library for consistency, modularity, performance.</li>

            <li> Used npm, bower, grunt, git to version control and deployment processes.</li>
            <li> Used IONIC to implement basic iOS/Android app using same angular code base for better user experience.</li>
          </ul>

          <div>Senior developer on VIRTUAL CAREER NETWORK (www.vcn.org)</div>
          <ul>
            <li> Designed and developed custom modules and custom drupal theme.</li>
            <li> Upgraded VCN theme to apply Twitter bootstrap CSS with LESS CSS.</li>
            <li> Applied Google reCAPTCHA plugin to secure the portal from spam users.</li>
            <li> Developed cron scripts to create drupal contents from text files as required.</li>
            <li> Used jQuery dataTable plugin to improve usability in displaying tabular data.</li>
            <li> Migration from legacy Drupal 6 to Drupal 7. Maintained htaccess file to manage site routes during migration.</li>
            <li> Developed REST based API for secure data management.</li>
            <li> Worked with TortoiseSVN to maintain version for history log and deployment.</li>
          </ul>

          <div>Environment/Technologies: LAMP, PHP, MySQL, Zend, Slim, Angular, Twitter Bootstrap, JavaScript, jQuery, AJAX, UnderscoreJs/lodash, HTML/XHTML, DHTML, CSS, LESS CSS, CURL, XML, REST, npm, Grunt, Bower, Yeoman, Ionic, Git, Apache Cordova, Android SDK</div>
        </div>
        <hr/>
        <div>
          <div class="font-weight-bold">
            <div>Senior Web Developer/ Team Lead</div>
            <div>Tailored Solutions</div>
            <div>Dec 2010 – Mar 2013</div>
            <div>Herndon, VA</div>
          </div>
          <div>Senior developer on DIRECT SOURCE (www.jobcentraldirect.com)</div>
          <ul>
            <li> As a LAMP stack Lead Developer Worked with the client, developers and QA team to work through design and development tasks and deployment for various web portals. Coordinated all developer tasks to meet deadlines with quality of task while working within an Agile iterative process.</li>
          </ul>
        </div>
        <hr/>
        <div>
          <div class="font-weight-bold">
            <div>LAMP Web Developer</div>
            <div>Tailored Solutions</div>
            <div>Aug 2006 – Dec 2010</div>
            <div>Ahmedabad, India</div>
          </div>
          <div>Senior developer on DIRECT SOURCE (www.jobcentraldirect.com)</div>
          <ul>
            <li> Worked on different portals such as real estate, e-commerce, social, event management and job related using LAMP/WAMP, PHP5, MySQL, CMS (joomla/drupal), Bootstrap, JavaScript, jQuery, AJAX, HTML/XHTML, DHTML, CSS, LESS CSS, CURL, XML, REST, XML-RPC, GD lib, SVN, ImageMagick Lib, SOAP, WSDL, E-conomic accounting API, Jupload, Cron, FFMPEG.</li>
          </ul>
        </div>


      </div>
    </div>
  </div>
</div>

<!-- Skills section -->
<div id="skills" class="section">
  <div class="row">
    <div class="col-md-12">
      <div class="jumbotron">

        <div class="row">
          <div class="col-lg-12 text-center">
            <h2>Skills</h2>
            <p class="star-primary"></p>
          </div>
        </div>

        <div>
          <app-skill-list></app-skill-list>
        </div>

      </div>
    </div>
  </div>
</div>

<!-- Education section -->
<div id="education" class="section">
  <div class="row">
    <div class="col-md-12">
      <div class="jumbotron">

        <div class="row">
          <div class="col-lg-12 text-center">
            <h2>Education</h2>
            <p class="star-primary"></p>
          </div>
        </div>

        <div>
          Gujarat University
          Bachelor's degree - Information Technology
          2002 – 2006
        </div>

      </div>
    </div>
  </div>
</div>