<nav class="navbar navbar-fixed-top navbar-inverse navbar-custom" role="banner" id="navbar">
  <div class="container">

    <!-- Navbar header -->
    <div class="navbar-header">
      <!-- <a title="{{navbarVm.navbarVars.appName}}" data-ui-sref="{{navbarVm.navbarVars.navbarLogo.hrefState}}" class="logo navbar-brand">
        <img alt="{{navbarVm.navbarVars.appName}} logo" data-ng-src="{{navbarVm.navbarVars.navbarLogo.src}}" class="img-responsive pull-left">
      </a> -->
      <a class="navbar-brand" href="#">Payal Sureja</a>

      <div>
        <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
        <button data-target="#sc-collapse-navbar" data-toggle="collapse" class="navbar-toggle" type="button">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
    </div>
    <!-- End of Navbar header -->

    <!-- Navbar links -->
    <div class="navbar-collapse collapse" id="sc-collapse-navbar">
      <nav role="navigation">
        <div>
          <section>
            <div class="sc-navbar-blocks" >
              <div class="nav navbar-right">

                <ul class="nav navbar-nav navbar-right">
                  <li class="hidden active">
                      <a href="#page-top"></a>
                  </li>
                  <li class="page-scroll">
                      <a href="#summary">Summary</a>
                  </li>
                  <li class="page-scroll">
                      <a href="#experience">Experience</a>
                  </li>
                  <li class="page-scroll">
                      <a href="#education">Education</a>
                  </li>
                </ul>

                <!-- Unauthenticated/anon User Navbar -->
                <!-- <ul class="nav navbar-nav" data-sc-access-level="accessLevels.anon">

                  <li data-ng-if="navbarVm.user.isAuthorized(navbarVm.$state.get('anon').data.access)" >
                    <a data-target="#sc-collapse-navbar" data-toggle="collapse" title="Sign In" data-ui-sref="{{navbarVm.navbarVars.navbarLogo.hrefState}}">Sign In</a>
                  </li>

                </ul> -->

                <!-- Authenticated User Navbar -->
                <!-- <ul class="nav navbar-nav" data-sc-access-level="accessLevels.authenticateduser">

                  <li data-ng-if="navbarVm.user.isAuthorized(navbarVm.$state.get('user.today').data.access)" class="hidden-sm hidden-md hidden-lg" data-ng-class="{'active':navbarVm.$state.includes('user.today')}">
                    <a data-target="#sc-collapse-navbar" data-toggle="collapse" title="Go to the Today page" data-ui-sref="{{'user.today'}}">Today</a>
                  </li>

                  <li data-ng-if="!navbarVm.isJobSeeker" class="hidden-sm hidden-md hidden-lg" data-ng-class="{'active':navbarVm.$state.includes('public.faqs')}">
                    <a data-target="#sc-collapse-navbar" data-toggle="collapse" title="Go to the FAQs page" data-ui-sref="{{'public.faqs'}}">FAQs</a>
                  </li>

                  <li data-ng-if="navbarVm.user.isAuthorized(navbarVm.$state.get('user').data.access)" class="hidden-sm hidden-md hidden-lg">
                    <a data-target="#sc-collapse-navbar" data-toggle="collapse" title="Sign out of {{navbarVm.navbarVars.appName}}" data-ng-click="navbarVm.logout();" href="javascript:void(0);">Sign Out</a>
                  </li>

                  <li data-ng-if="navbarVm.user.isAuthorized(navbarVm.$state.get('user').data.access)" class="hidden-xs">
                    <a data-target="#sc-collapse-navbar" title="Sign out of {{navbarVm.navbarVars.appName}}" data-ng-click="navbarVm.logout();" href="javascript:void(0);">Sign Out</a>
                  </li>

                  <li data-ng-if="!navbarVm.isJobSeeker" class="hidden-xs" data-ng-class="{'active':navbarVm.$state.includes('public.faqs')}">
                    <a data-target="#sc-collapse-navbar" title="Go to the FAQs page" href="javascript:void(0);" data-ui-sref="{{'public.faqs'}}">FAQs</a>
                  </li>

                </ul> -->
              </div>
            </div>
          </section>
        </div>
      </nav>
    </div>
    <!-- End of Navbar links -->

  </div>
</nav>