<!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                  <br/><br/>
                    <!--<h2>Portfolio</h2>
                    <hr class="star-primary">-->
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-2x"></i>
                            </div>
                        </div>
                        <h4>
                            <span>Direct source</span>
                            <br/>
                            <span class="text-muted h5">AngularJs Application</span>
                        </h4>
                        <img src="assets/images/portfolio/ds.png" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-2x"></i>
                            </div>
                        </div>
                        <h4>
                            <span>Direct source</span>
                            <br/>
                            <span class="text-muted h5">Ionic Hybrid Mobile Application</span>
                        </h4>
                        <img src="assets/images/portfolio/dsmobile.png" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-2x"></i>
                            </div>
                        </div>
                        <h4>
                            <span>Virtual Career Network</span>
                            <br/>
                            <span class="text-muted h5">Drupal PHP Application</span>
                        </h4>
                        <img src="assets/images/portfolio/vcn.png" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-2x"></i>
                            </div>
                        </div>
                        <h4>
                            <span>Portfolio</span>
                            <br/>
                            <span class="text-muted h5">Angular2 Application</span>
                        </h4>
                        <!--<img src="assets/images/portfolio/portfolio.png" class="img-responsive" alt="">-->
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-2x"></i>
                            </div>
                        </div>
                        <h4>
                            <span>Portfolio Monitor</span>
                            <br/>
                            <span class="text-muted h5">AWS Lamda Canary Function</span>
                        </h4>
                        <!--<img src="assets/images/portfolio/portfolio.png" class="img-responsive" alt="">-->
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-2x"></i>
                            </div>
                        </div>
                        <h4>
                            <span>Portfolio Admin</span>
                            <br/>
                            <span class="text-muted h5">React admin to manage portfolio content</span>
                        </h4>
                        <!--<img src="assets/images/portfolio/portfolio.png" class="img-responsive" alt="">-->
                    </a>
                </div>
            </div>
        </div>
    </section>

    <!-- Portfolio Modals -->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <button type="button" class="h2 btn btn-default btn-primary btn-portfolio-close pull-right" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                            <h2>Direct Source <span class="h4">(www.jobcentraldirect.com)</span></h2>
                            <hr class="star-primary">
                            <h4>AngularJs Application</h4>
                            <img src="assets/images/portfolio/ds.png" class="img-responsive img-centered" alt="">
                            <p>Direct Source is platform for career centers to explore jobs and filter them based on specific criteria to help veteran job seekers find jobs. As a development team member, I worked to develop this product from scratch with BA and QA teams.I continue to work on it to make the product more useful by adding new features regularly.</p>
                            <button type="button" class="btn btn-default btn-primary btn-portfolio-close" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <button type="button" class="h2 btn btn-default btn-primary btn-portfolio-close pull-right" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                            <h2>Direct Outreach</h2>
                            <hr class="star-primary">
                            <h4>Ionic Hybrid Mobile Application</h4>
                            <img src="assets/images/portfolio/dsmobile.png" class="img-responsive img-centered" alt="">
                            <p>A hybrid mobile app for Direct Source (www.jobcentraldirect.com). Built with Ionic Framework, AngularJS and PHP.</p>
                            <button type="button" class="btn btn-default btn-primary btn-portfolio-close" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <button type="button" class="h2 btn btn-default btn-primary btn-portfolio-close pull-right" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                            <h2>Virtual Career Network <span class="h4">(www.vcn.org)</span></h2>
                            <hr class="star-primary">
                            <h4>Drupal PHP Application</h4>
                            <img src="assets/images/portfolio/vcn.png" class="img-responsive img-centered" alt="">
                            <p>VCN is drupal based web portal used for career exploration and finding training tools for job seekers in healthcare, green energy and transportation industries.</p>
                            <button type="button" class="btn btn-default btn-primary btn-portfolio-close" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <button type="button" class="h2 btn btn-default btn-primary btn-portfolio-close pull-right" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                            <h2>Portfolio <span class="h4"></span></h2>
                            <hr class="star-primary">
                            <h4>Angular2 Application</h4>
                            <img src="assets/images/portfolio/portfolio.png" class="img-responsive img-centered" alt="">
                            <p>Portfolio is Angular2 application with node/express rest and mongodb/mLab as noSql db. Angular2 application is deployed on firebase and rest api is deployed on heroku with mLab plugin.</p>
                            <button type="button" class="btn btn-default btn-primary btn-portfolio-close" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <button type="button" class="h2 btn btn-default btn-primary btn-portfolio-close pull-right" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                            <h2>Portfolio Monitor<span class="h4"></span></h2>
                            <hr class="star-primary">
                            <h4>AWS Lamda Canary Function</h4>
                            <!--<img src="assets/images/portfolio/portfolio.png" class="img-responsive img-centered" alt="">-->
                            <p>AWS Lamda canary function to monitor site every five minute and notify admin email verified via AWS SES - Simple Email Service.</p>
                            <button type="button" class="btn btn-default btn-primary btn-portfolio-close" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <button type="button" class="h2 btn btn-default btn-primary btn-portfolio-close pull-right" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                            <h2>Portfolio Admin<span class="h4"></span></h2>
                            <hr class="star-primary">
                            <h4>React admin to manage portfolio content</h4>
                            <!--<img src="assets/images/portfolio/portfolio.png" class="img-responsive img-centered" alt="">-->
                            <p>React admin to manage portfolio content via express web service.</p>
                            <button type="button" class="btn btn-default btn-primary btn-portfolio-close" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

