<div id="snow"></div><div id="snow2"></div><div id="snow3"></div>
<!--<div id="stars"></div><div id="stars2"></div><div id="stars3"></div>-->
<div id="page-top" class="container"> <!-- -fluid -->

  <div class="hide" id="skipnav"><a href="#maincontent">Skip to main content</a></div>

  <app-navbar></app-navbar>

  <app-header></app-header>

  <!-- <a name="maincontent"></a> -->

  <router-outlet></router-outlet>

  <app-footer></app-footer>

  <app-spinner></app-spinner>
  <app-toast></app-toast>

</div>
