@import "./assets/css/styles-variables.less";

html{
  overflow-y: scroll; /* Fix fpr page jumping with no scrollbar */
}

body {
  padding-top: 50px; /* Bootstrap fixed navbar */
  padding-bottom: 70px; /* Bootstrap fixed footer */
  background: url("assets/images/bg.png");
}

.app-scroll-spy{
  z-index: 9999;
}

.font-weight-bold{
  font-weight: bold;
}

/* Hr with star icon in middle */
p.star-light,
p.star-primary {
  padding: 0;
  border: none;
  border-top: solid 5px;
  text-align: center;
  max-width: 250px;
  margin: 25px auto -25px;
}
p.star-light:after,
p.star-primary:after {
  content: "\f005";
  font-family: FontAwesome;
  display: inline-block;
  position: relative;
  top: -0.8em;
  font-size: 1.5em;
  padding: 0 0.25em;
}
p.star-light {
  border-color: white;
}
p.star-light:after {
  background-color: #18BC9C;
  color: white;
}
p.star-primary {
  border-color: #2C3E50;
}
p.star-primary:after {
  background-color: white;
  color: #2C3E50;
}
/* Hr/p with star icon in middle End */

.jumbotron-md{
  padding: 20px;
}

/* Bootstrap fix and extras */
.progress-bar-default {
    background-color: #777777;
}
/* Bootstrap fix and extras End */

/* General */
.no-list{
  margin: 0px;
  padding: 0px;
  list-style: none;
}
/* General End */

/* Scroll Spy side menu */
.app-scroll-spy {
  position: fixed;
  top: 40%;
  right: 0;
}
.app-scroll-spy .btn {
  color: #fff;
  background-color: @primary-color;
  border-color: @primary-color;
}
.app-scroll-spy .nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: @sub-color;
    color: #ffffff;
}
.app-scroll-spy .nav>li>a.btn{
  border-radius: 0px;
}
.app-scroll-spy .nav>li.active>a.btn{
  background-color: @sub-color;
}
.app-scroll-spy .nav>li>a {
    padding: 10px 20px;
}
/* Scroll Spy side menu End */

/* Arrow */
.arrow-icon {
  width: 0;
  height: 0;
}
.arrow-icon.arrow-up {
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;

  border-bottom: 5px solid black;
}
.arrow-icon.arrow-down {
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;

  border-top: 20px solid black;
}
.arrow-icon.arrow-right {
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;

  border-left: 60px solid black;
}
.arrow-icon.arrow-left {
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;

  border-right:10px solid black;
}

.arrow-left-md {
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
}
.arrow-right-md {
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
}
.arrow-up-md {
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
}
.arrow-down-md {
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
}

.arrow-up-down-white {
  border-color: white transparent;
}
.arrow-up-down-red {
  border-color: #D01E2C transparent;
}

.arrow-left-right-white {
  border-color: transparent white;
}
.arrow-left-right-red {
  border-color: transparent #D01E2C;
}
/* Arrow End */

/* Button Arrow */
.btn-arrow-right,
.btn-arrow-left {
    position: relative;
    padding-left: 18px;
    padding-right: 18px;
}
.btn-arrow-right {
    padding-left: 36px;
}
.btn-arrow-left {
    padding-right: 36px;
}
.btn-arrow-right-arrow:before,
.btn-arrow-right:after,
.btn-arrow-left:before,
.btn-arrow-left-arrow:after { /* make two squares (before and after), looking similar to the button */
    content:"";
    position: absolute;
    top: 5px; /* move it down because of rounded corners */
    width: 30px; /* same as height */
    height: 30px; /* button_outer_height / sqrt(2) */
    background: inherit; /* use parent background */
    border: inherit; /* use parent border */
    border-left-color: transparent; /* hide left border */
    border-bottom-color: transparent; /* hide bottom border */
    border-radius: 0px 4px 0px 0px; /* round arrow corner, the shorthand property doesn't accept "inherit" so it is set to 4px */
    -webkit-border-radius: 0px 4px 0px 0px;
    -moz-border-radius: 0px 4px 0px 0px;
}
.btn-arrow-right:before,
.btn-arrow-right:after {
    transform: rotate(45deg); /* rotate right arrow squares 45 deg to point right */
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
}
.btn-arrow-left:before,
.btn-arrow-left:after {
    transform: rotate(225deg); /* rotate left arrow squares 225 deg to point left */
    -webkit-transform: rotate(225deg);
    -moz-transform: rotate(225deg);
    -o-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
}
.btn-arrow-right:before,
.btn-arrow-left:before { /* align the "before" square to the left */
    left: -15px;
}
.btn-arrow-right:after,
.btn-arrow-left:after { /* align the "after" square to the right */
    right: -15px;
}
.btn-arrow-right:after,
.btn-arrow-left:before { /* bring arrow pointers to front */
    z-index: 1;
}
.btn-arrow-right:before,
.btn-arrow-left:after { /* hide arrow tails background */
    background-color: white;
}
/* Button Arrow End */


/* Fade transition */
/*pm-app div {
    animation-duration: .5s;
    opacity: 0;
    animation-name: fadeIn;
    animation-fill-mode: forwards;
    transition: transform .5s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}*/

/* Slide transition */
/*
pm-app div.panel.panel-primary {
    animation-duration: .5s;
    animation-name: slideIn;
    animation-fill-mode: forwards;
    transition: transform .5s ease;
}

@keyframes slideIn {
  from {
    transform: translate(-200px);
  }

  to {
    transform: translate(0px);
  }
}
*/
/* Spinner */
/*
.spinner {
  font-size:300%;
  position:absolute;
  top: 50%;
  left: 50%;
  z-index:10
}

.glyphicon-spin {
    -webkit-animation: spin 1000ms infinite linear;
    animation: spin 1000ms infinite linear;
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
*/