<nav class="navbar navbar-fixed-top navbar-inverse navbar-custom" role="banner" id="navbar">
  <div class="container">

    <!-- Navbar header -->
    <div class="navbar-header">
      <!-- <a title="{{navbarVm.navbarVars.appName}}" data-ui-sref="{{navbarVm.navbarVars.navbarLogo.hrefState}}" class="logo navbar-brand">
        <img alt="{{navbarVm.navbarVars.appName}} logo" data-ng-src="{{navbarVm.navbarVars.navbarLogo.src}}" class="img-responsive pull-left">
      </a> -->
      <a scrollTo class="navbar-brand" routerLink="/" fragment="page-top">Payal Sureja</a>

      <div>
        <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
        <button data-target="#collapse-navbar" data-toggle="collapse" class="navbar-toggle" type="button">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
    </div>
    <!-- End of Navbar header -->

    <!-- Navbar links -->
    <div class="navbar-collapse collapse" id="collapse-navbar">
      <nav role="navigation">
        <div>
          <section>
            <div class="sc-navbar-blocks" >
              <div class="nav navbar-right">

                <ul class="nav navbar-nav navbar-right hidden-sm hidden-md hidden-lg">
                  <!-- <li class="hidden active">
                      <a scrollTo data-target="#collapse-navbar" data-toggle="collapse" href="#page-top"></a>
                  </li> -->
                  <li *ngFor="let item of menuItems">
                      <a [routerLink]="item.link" data-target="#collapse-navbar" data-toggle="collapse" >{{item.caption}}</a>
                  </li>
                </ul>

                <ul class="nav navbar-nav navbar-right hidden-xs">
                  <!-- <li class="hidden active">
                      <a scrollTo href="#page-top"></a>
                  </li> -->
                  <li *ngFor="let item of menuItems" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                      <a [routerLink]="item.link" href="">{{item.caption}}</a>
                  </li>
                </ul>

              </div>
            </div>
          </section>
        </div>
      </nav>
    </div>
    <!-- End of Navbar links -->

  </div>
</nav>